@using StackExchange.DataExplorer
<div class="page-description">
    <div class="form-error">
    </div>
    <div class="login_pcbb_header">
        <h2 class="login_heading">Login Required</h2>
        <p>This section contains confidential information not available to the public.</p>
    </div>

    <form id="pcbb_login_form" action="/user/authenticate?returnurl=@Request.Params["returnurl"]" method="post">
        @if (Request.Params["login"] == "failed")
        {
            <div id="loginError">
		        The login name or password you entered is incorrect.<br />
		    </div>
        }
        <label for="email">Email Address</label><br />
        <input class="aca-standard-input" type="text" id="input_email" name="email" /><br />

        <label for="password">Password</label><br />
        <input class="aca-standard-input" id="input_password" name="password" type="password" /><br />
        
        <input class="aca-primary-button" style="width: 60px" type="submit" value="Login" /><br />
    
    </form>

  <!--  <form id="openid_form" action="/user/authenticate?returnurl=@Request.Params["returnurl"]" method="post">
        
        <div id="openid_choice">
            <p>Click your <a href="http://openid.net/what/">OpenID</a> account provider:</p>
            <div id="openid_btns"></div>
        </div>

        <div id="openid_input_area"></div>
        <!-- <div>
            <noscript>
                <p>
                    OpenID is a service that allows you to log on to many different websites using a
                    single identity. Find out <a href="http://openid.net/what/">more about OpenID</a>
                    and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.
                </p>
            </noscript>
        </div>
        
        <p>Or, manually enter your OpenID:</p>
        <table id="openid-url-input">
            <tr>
                <td class="vt large">
                    <input id="openid_identifier" name="openid_identifier" class="openid-identifier"
                        style="height: 28px; width: 500px;" tabindex="100" />
                </td>
                <td class="vt large">
                    <input id="submit-button" style="margin-left: 5px; height: 36px;" type="submit" value="Log in"
                        tabindex="101" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="error" style="text-align: center;">@ViewData["Message"]</td>
            </tr>
        </table>
    </form>-->
</div>
<script src="/Scripts/openid-jquery.js?v=3" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        openid.init('openid_identifier');
        $("#openid_identifier").focus();

        $("#footer").css({
            position : "absolute",
            bottom : "0px"
        });
    });
</script>
